<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Friendly</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
</head>

<body>

<div class="appBar"><h1>Travel Friendly</h1></div>

<nav>
    <ul>
        <li><a href="#buscar">Buscar</a></li>
        <li><a href="#publicar">Publicar</a></li>
        <li><a href="#chat">Chat</a></li>
        <li><a href="#perfil">Perfil</a></li>
    </ul>
</nav>

<div class="barraLateral" style="width: 35%; float: left;">

    <div class="fila">
        <button class="boton">{{chat1}}</button>
    </div>

    <div class="fila">
        <button class="boton">{{chat2}}</button>
    </div>

    <div class="fila">
        <button class="boton">{{chatN}}</button>
    </div>
</div>

<div class="chat" style="width: 63%; float: right;">

    Aquí salen los mensajes del chat

</div>

</body>
</html>