<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Friendly</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
</head>

<body>

<div class="appBar"><h1>Travel Friendly</h1></div>

<nav>
    <ul>
        <li><a href="#buscar">Buscar</a></li>
        <li><a href="#publicar">Publicar</a></li>
        <li><a href="#chat">Chat</a></li>
        <li><a href="#perfil">Perfil</a></li>
    </ul>
</nav>

<div class="formulario">
    <form action="">
        <label for="origin">Origen</label><br>
        <input type="text" name="origin" id="origin"><br>
        <label for="destiny">Destino</label><br>
        <input type="text" name="destiny" id="destiny"><br>
        <label for="date">Fecha de salida</label><br>
        <input type="date" name="date" id="date"><br>
        <label for="sites">Plazas disponibles</label><br>
        <input type="text" name="sites" id="sites"><br>
        <label for="stops">Viaje directo</label><br>
        <input type="checkbox" name="stops" id="stops"><br>
        <label for="info">Información relevante</label><br>
        <input type="text" name="info" id="info"><br>
        <input type="submit" value="Publicar Viaje">
    </form>
</div>

</body>
</html>