<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Friendly</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
</head>

<body>

<div class="appBar"><h1>Travel Friendly</h1></div>

<nav>
    <ul>
        <li><a href="/buscar">Buscar</a></li>
        <li><a href="/publicar">Publicar</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/perfil">Perfil</a></li>
    </ul>
</nav>

<div class="formulario">
    <form action="/accionBuscador">
		<label for="origin">Origen: </label>
		<input type="text" name="origin" id="origin">
		<label for="destiny">Destino: </label>
		<input type="text" name="destiny" id="destiny">
		<label for="origin">Fecha: </label>
        <input type="date" name="date" id="date">
        <input type="submit" value="Buscar"><br>
    </form>
</div>

<div class="resBuscador">
    {{#searched}}
    <ul>
		{{#resultados}}
			<li style="border-style: solid; border-width: 2px;">
				<div class="titulo">Origen: </div>{{origin}} 
				<div class="titulo">Destino: </div>{{destiny}} 
				<div class="titulo">Fecha: </div>{{date}}
				<button>Comprar</button>
			</li>
		{{/resultados}}	
	</ul>
	{{/searched}}
	{{^searched}}
    <ul>
		{{error}}
	</ul>
	{{/searched}}
</div>

</body>
</html>