<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Friendly</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
</head>

<body>

<div class="appBar"><h1>Travel Friendly</h1></div>

<nav>
    <ul>
        <li><a href="/buscar">Buscar</a></li>
        <li><a href="/publicar">Publicar</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/perfil">Perfil</a></li>
         <li><a href="/tusViajes">Tus Viajes</a></li>
         <li><form action="/logout" method="post">
		<button id="logout" type="submit">Salir</button>
		<input type="hidden" name="_csrf" value="{{token}}" />
		</form></li>
    </ul>
</nav>

<div class="formulario">
    <form action="/accionBuscador">
		<label for="origin">Origen: </label>
		<input type="text" name="origin" id="origin" required>
		<label for="destiny">Destino: </label>
		<input type="text" name="destiny" id="destiny" required>
		<label for="origin">Fecha: </label>
        <input type="date" name="date" id="date" required>
        <input type="submit" value="Buscar"><br>
        <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>
</div>

<div class="resBuscador">
    {{#searched}}
    <ul>
		{{#resultados}}
			<li style="border-style: solid; border-width: 2px;">
				<div class="titulo">Origen: </div>{{trip.origin}} 
				<div class="titulo">Destino: </div>{{trip.destiny}} 
				<div class="titulo">Fecha: </div>{{trip.date}}
			{{#visitor}}
				<br>Para comprar un viaje, necesita iniciar sesion
				<br><a href="/"><button>Iniciar Sesion</button></a>
			{{/visitor}}
			{{^visitor}}
				{{#comp}}
					<br>No está permitido reservar un sitio en un viaje propio
				{{/comp}}
				{{^comp}}
				<form method="post" action="/accionReserva">
					<input style="display: none;" type="text" name="id" id="id" value={{trip.id}}>
					<input type="submit" value="Reservar Sitio">
					<input type="hidden" name="_csrf" value="{{token}}"/>
				</form>
				{{/comp}}
			{{/visitor}}
				
			</li>
		{{/resultados}}	
	</ul>
	{{/searched}}
	{{^searched}}
    <ul>
		{{error}}
	</ul>
	{{/searched}}
</div>

</body>
</html>