<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Friendly</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<body>

<div class="appBar"><h1>Travel Friendly</h1></div>
<div style="text-align: center;"><h3>Inicio de Sesión</h3></div>
<div class="login">

    <form action="/introducirContra/{{id}}" method="post" > <!-- Action es la url a donde se envian los datos-->
        <label for="codeRec">Introduce el código de recuperación</label><br>
        <input type="text" name="codeRec" required><br>
        <input type="submit" value="Recuperar contraseña">
        <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>
</div>

</body>
</html>