<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel Friendly</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
</head>

<body>

<div class="appBar"><h1>Travel Friendly</h1></div>

<nav>
    <ul>
        <li><a href="/buscar">Buscar</a></li>
        <li><a href="/publicar">Publicar</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/tusViajes">Tus Viajes</a></li>
        <li><form action="/logout" method="post">
		<button id="logout" type="submit">Salir</button>
		<input type="hidden" name="_csrf" value="{{token}}" />
		</form></li>
    </ul>
</nav>

<div class="perfil">
    <div class="fila">
        <div class="titulo"></div> {{name}}
    </div>

    <div class="fila">
        <button class="boton">Tus Viajes</button> 
    </div>
    
    <h4 TUS VIAJES class= "titulo" >
		<ul class="formulario">
						<div class="opinar" style="width: 100%; float: none;">
				{{#PTrip}}
					<li>[{{id}}]: Tu viaje de origen: {{origin}} y destino: {{destiny}} en la fecha de: {{date}} </li>
					<br>
					Opinar sobre el pasajero:    
						<li><a href="/opinarPasajero/{{id}}"> {{#use}} {{username}} {{/use}} </a></li>
					
				{{/PTrip}}	
				{{#BTrip}}
				
				
					<li>[{{id}}]: Tu reserva de origen: {{origin}} y destino: {{destiny}} en la fecha de: {{date}} </li>
					<br>
					Opinar sobre el conductor:    
						<li><a href="/opinarConductor/{{id}}"> {{nombreconductor}}</a></li>
			
				{{/BTrip}}	
				<input type="hidden" name="_csrf" value="{{token}}" />
				
			</li>
	

			</div>
			<br>
		</ul>

</div>

</body>
</html>